@import "../../reset";
@import "../../variables";
@import "../../mixins";

header {
    height: 100vh;
    width: 100%;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .2;
    }
    > .banner {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flexBox;
        flex-direction: column;

        > h1 {
            font-size: 5.5rem;
            letter-spacing: 2px;
            word-spacing: 5px;
            margin-bottom: 30px;
        } 
        > h1::before,
        > h1::after {
            content: "🔥";
            margin: 0px 35px;
        }
        > div.header-text-animation {
            > h4 {
                font-weight: 400;
                height: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    
    header {
        .banner {  
            > h1 {
                font-size: 4rem;
            }
            > h1::before,
            > h1::after {
                margin: 0 10px;
            }
            > h4 {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        > .banner {
            > div {
                flex-direction: column;
                > h4 {
                    font-size: 1.5rem;
                    margin: 10px 0;
                }
                > h4:nth-of-type(1)::after,
                > h4:nth-of-type(2)::after {
                    content: none;
                }
            }
        }
    }
}