<header id="top">
    <picture>
      <source srcSet="../../assets/bannerSmall.jpg" media="(max-width: 850px)" />
      <source srcSet="../../assets/bannerMid.jpg" media="(max-width: 1600px)" />
      <source srcSet="../../assets/bannerHigh.jpg" />
      <img src="../../assets/banner.JPG" alt="The belowsurface.de banner" />
    </picture>

    <div class="banner">
        <h1>Below Surface</h1>
        <div class="header-text-animation">
          <h4>The passionate Web Developer from Bonn</h4>
        </div>
    </div>
</header>