<div class="about" id="about">
    <h2>About Me ✨</h2>
    <div class="about-flexbox">
      <p>Welcome to my portfolio page! I am an enthusiastic web developer based in Bonn, with a wealth of experience in various fields. My journey as a web developer began when I decided to create a website for my music label. Fast forward four years later, and I have successfully launched multiple websites and worked as a software developer for a reputable Bonn-based company. On this page, I am excited to share some insights into my work with you.</p>
      <div>
        <img src="../../assets/jon-tyson-hi.jpg" alt="The word Hi in a bright color" />
      </div>
    </div>
</div>