@import "../../reset";
@import "../../variables";
@import "../../mixins";

.about-flexbox {
    @include flexBox;
    
    img {
        margin-left: 50px;
        @include basicImage;
    }
}

@media screen and (max-width: 800px) {
    .about-flexbox {
        flex-direction: column;
        p, img {
            margin: 0 0 35px;
        }
        img {
            width: 250px;
            height: 250px;
        }
    }
}

@media screen and (max-width: 500px) {
    .about-flexbox {
        p, img {
            margin: 0 0 10px;
        }
        img {
            width: 200px;
            height: 200px;
        }
    }
}