<div class="projects" id="projects">
    <h2>Projects 🤴</h2>
    <div class="projects-flexbox">
      <p>Since 2019, I have been involved in several web projects, including live websites, private password-protected ones, and some training exercises to enhance my web development skills. Below is a list of some example projects with additional information.</p>
    </div>

    <div class="projects-second-flexbox">
      <div class="project-text">
        <div>
          <h4>Offensive Security: Pentesting</h4>
          <h4>2023 - present</h4>
        </div>
        <ul>
            <li>Goals: Enhance my programming skills by playing hackthebox.com&apos;s &quot;Capture the Flag&quot; challenges to adopt the mindset of an intruder.</li>
            <li>Technologies: Kali, Nmap, Netcat, Gobuster, SMB, BurpSuite, John the Ripper, AWS S3, FTP, SSH, SQL and no-SQL DBs, and many more.</li>
            <li>Difficulties: To identify and exploit misconfigured or vulnerable sections of a target system, aiming to capture the flag(s) associated with each machine.</li>
        </ul>
      </div>
      <div class="project-takeaways">
        <h4>Project takeaways:</h4>
        <ul>
          <li><b>Offensive Security</b>: Use my new pentesting skills to test and make my own projects more secure</li>
          <li><b>Kali Linux</b>: Utilize the different pentesting tools that come preinstalled with Kali</li>
          <li><b>My Blog</b>: Make perfect use of my self hosted blog and document important learnings there</li>
        </ul>
      </div>
    </div>

    <div class="projects-second-flexbox">
      <div class="project-text">
        <div>
          <h4>besure.blog</h4>
          <h4>2022 - present</h4>
          <a href="https://besure.blog" target="_blank" rel="noreferrer">Link</a>
        </div>
        <ul>
            <li>Goals: To create a blog, design and implement a user-friendly interface with a database. Set up a web server for hosting and build a release pipeline for efficient deployment. Test thoroughly for reliability and security. Improve SEO.</li>
            <li>Technologies: Next.js 13 ISR, Scss, Node.js, Express, Mongoose, JWT, MongoDB, Nginx, Certbot SSL, GitHub, Google Search Console.</li>
            <li>Difficulties: Solving CORS issues when fetching POST and PATCH requests.</li>
        </ul>
      </div>
      <div class="project-takeaways">
        <h4>Project takeaways:</h4>
        <ul>
          <li><b>SSR/ISR</b>: Implement Incremental Static Regeneration for SSR</li>
          <li><b>Nginx</b>: Set up a self hosted Nginx reverse proxy with SSL and Node.js</li>
          <li><b>DevOps CI/CD</b>: Build a release pipeline with GitHub Actions (Test and Live)</li>
        </ul>
      </div>
      <div class="project-images">
        <img src="../../assets/images/projects/blog1.jpg" alt="A screenshot of the besure.blog landing page" />
        <img src="../../assets/images/projects/blog2.jpg" alt="A screenshot of the besure.blog post view" />
        <img src="../../assets/images/projects/blog3.jpg" alt="A screenshot of the besure.blog category view" />
      </div>
    </div>

    <div class="projects-second-flexbox">
      <div class="project-text">
        <div>
          <h4>Business Application</h4>
          <h4>2021 - 2022</h4>
        </div>
        <ul>
          <li>Goals: Create a user-friendly business application for a public administration body that includes necessary features and adheres to regulations. Test thoroughly and consider integration with other software for increased efficiency.</li>
          <li>Technologies: Blazor WebAssembly, C#, .NET, JavaScript, Bootstrap, Telerik, SQL, GitLab.</li>
          <li>Difficulties: As a JavaScript developer working with C#/.NET, using the Telerik Document Processing library for .pdf exports can be challenging. Learn the syntax and structure of C#/.NET and the library, review documentation, experiment with code configurations, and thoroughly test to achieve the desired output.</li>
        </ul>
      </div>
      <div class="project-takeaways">
        <h4>Project takeaways:</h4>
        <ul>
          <li><b>C#</b>: Develop a full stack application with C#, .NET, Blazor WASM, SQL</li>
          <li><b>Telerik</b>: Use libraries for various tasks like grids and document processing</li>
          <li><b>Business setting</b>: Working in a professional context on a customer project</li>
        </ul>
      </div>
    </div>

    <div class="projects-second-flexbox">
      <div class="project-text">
        <div>
          <h4>Crypto Tax App</h4>
          <h4>2021</h4>
        </div>
        <ul>
            <li>Goals: To create a tax calculation app for crypto trading, develop software that accurately calculates tax liabilities, imports data from exchanges, generates reports, and stays up-to-date with tax laws.</li>
            <li>Technologies: Next.js, Scss, Node.js, external crypto API, external fiat API, MongoDB.</li>
            <li>Difficulties: Create a reliable algorithm for calculating gains/losses under German tax laws by researching regulations, considering trade details, and testing for accuracy.</li>
        </ul>
      </div>
      <div class="project-takeaways">
        <h4>Project takeaways:</h4>
        <ul>
          <li><b>JavaScript</b>: Create a complex algorithm to calculate taxes</li>
          <li><b>Full stack</b>: Create a working application with Next.js, Node.js and MongoDB</li>
          <li><b>APIs</b>: Use external APIs efficiently to save bandwidth and improve performance</li>
        </ul>
      </div>
    </div>

    <div class="projects-second-flexbox">
      <div class="project-text">
        <div>
          <h4>Image Sharing Website</h4>
          <h4>2020 - present</h4>
        </div>
        <ul>
            <li>Goals: To share images with family members, create a password-protected website with image uploads and share the access only with trusted family members and friends.</li>
            <li>Technologies: PHP, JavaScript, Scss, MySQL</li>
            <li>Difficulties: Make the website hard to find, only accessible by login and secure uploaded images so they can only be loaded from the website itself.</li>
        </ul>
      </div>
      <div class="project-takeaways">
        <h4>Project takeaways:</h4>
        <ul>
          <li><b>CRUD</b>: Create, read, update and delete content in a MySQL database with PHP</li>
          <li><b>Nginx</b>: Configure the server to protect sensitive data reliably</li>
          <li><b>Performance</b>: Deliver a significant number of images quick and efficiently</li>
        </ul>
      </div>
    </div>

    <div class="projects-second-flexbox">
      <div class="project-text">
        <div>
          <h4>besurelabel.de</h4>
          <h4>2019 - present</h4>
          <a href="https://besurelabel.de" target="_blank" rel="noreferrer">Link</a>
        </div>
        <ul>
            <li>Goals: To showcase Be Sure music label releases, create a visually appealing website with user-friendly features, optimize it for mobile and desktop devices, integrate social media sharing buttons, and keep it regularly updated with new releases and information.  Improve SEO.</li>
            <li>Technologies: Next.js 13 static export, Scss</li>
            <li>Difficulties: Creating a fully working static export to host the Next.js project on a non Node.js web hosting service and setting up Nginx configurations by only using the .htaccess file.</li>
        </ul>
      </div>
      <div class="project-takeaways">
        <h4>Project takeaways:</h4>
        <ul>
          <li><b>Basics</b>: Learn HTML, CSS/SCSS, and JavaScript to excel in frontend development</li>
          <li><b>Refactoring</b>: Refactor the website from static HTML (2019) to React (2021) to Next.js (2022)</li>
          <li><b>SEO</b>: Improve website speed, minimize load times, and optimize images</li>
        </ul>
      </div>
      <div class="project-images">
        <img src="../../assets/images/projects/besure1.jpg" alt="A screenshot of the besurelabel.de landing page" />
        <img src="../../assets/images/projects/besure3.jpg" alt="A screenshot of the besurelabel.de video page" />
        <img src="../../assets/images/projects/besure2.jpg" alt="A screenshot of the besurelabel.de artist page" />
      </div>
    </div>
</div>