<div class="contact" id="contact">
    <h2>Contact 💌</h2>
    <p>It&apos;s all about you now! Getting in touch with us is as easy as filling out the contact form below. Simply type &quot;okay&quot; to unlock it. Please note that spam and advertising are strictly prohibited.</p>
    
      <form *ngIf="showContactForm">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" placeholder="Please type in your name here" required />

        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" placeholder="Please type in your email here" required />

        <label for="message">Your Message:</label>
        <textarea id="message" name="message"></textarea>
        
        <button type="submit" value="Send" class="submit-button">Send!</button>
      </form>
   
      <form *ngIf="!showContactForm">
        <p>Please note that spam and advertising are strictly forbidden. Type &quot;okay&quot; to unlock the contact form:</p>
        <label for="riddle"></label>
        <input type="text" 
               id="riddle" 
               name="riddle" 
               placeholder="Just type &apos;okay&apos; in here" 
               (input)="updateUserInput($event)"
               required />
      </form>
    
</div>