<div class="skills" id="skills">
    <h2>Skills 💪</h2>
    <div class="skills-first-flexbox">
        <div>
            <img src="../../assets/beth-skills.jpg" alt="An old fashioned light bulb is glowing" />
        </div>
        <p>One of my greatest strengths is my ability to learn new technologies and concepts quickly and independently. After teaching myself the fundamentals of HTML, CSS, JavaScript, PHP, and MySQL, I completed a one-year certificate course to become a professional web developer. During the course, I gained expertise in React, Next.js, Node.js, and MongoDB. Later, I worked as a software developer and honed my skills with C#, .NET, ASP.NET and Blazor WASM. In my free time I created a self-hosted blog using Nginx, Next.js 13 ISR (TypeScript), Node.js, and MongoDB. Currently I extend my Cyber Security skills by learning everything about Pentesting.</p>
    </div>

    <div class="skills-second-flexbox">
        <div>
            <h4>Frontend</h4>
            <ul>   
                <li>HTML, CSS, SASS, Bootstrap</li>
                <li>React, Next.js, Vue.js, Nuxt</li>
                <li>JavaScript, TypeScript</li>
                <li>Redux</li>
                <li>Blazor WASM, ASP.NET</li>
            </ul>
        </div>
        <div>
            <h4>Backend, Databases</h4>
            <ul>
                <li>Node.js, Express, JWT</li>
                <li>C#, .NET</li>
                <li>PHP</li>
                <li>MongoDB</li>
                <li>MySQL</li>
            </ul>
        </div>
        <div>
            <h4>Bonus Knowledge</h4>
            <ul>
                <li>Nginx, SSL</li>
                <li>MVC, MVVM</li>
                <li>SPA & MPA</li>
                <li>Web Security</li>
                <li>SEO</li>
            </ul>
        </div>
    </div>
</div>