<!-- Navigation trigger button -->
<div class="navigation-trigger" onClick="">
    <div class="nav-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!-- NAVIGATION - if nav is hidden and navigation is false -->
<nav class="navigation">
    <div>
        <a href="#top" onClick="">Start</a>
        <a href="#about" onClick="">About</a>
        <a href="#skills" onClick="">Skills</a>
        <a href="#projects" onClick="">Projects</a>
        <a href="#contact" onClick="">Contact</a>
    </div>
    <div>
        <p>Navigation</p>
    </div>
</nav>