<!-- Navigation trigger button -->
<div class="navigation-trigger" (click)="triggerNavigation()">
    <div [ngClass]="(navigation) ? 'nav-icon open' : 'nav-icon'">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!-- NAVIGATION - if nav is hidden and navigation is false -->
<nav [ngClass]="(navigationHidden && !navigation) ? 'navigation' : 'navigation navigation-shown'">
    <div>
        <a href="#top" (click)="toggleNavigation()">Start</a>
        <a href="#about" (click)="toggleNavigation()">About</a>
        <a href="#skills" (click)="toggleNavigation()">Skills</a>
        <a href="#projects" (click)="toggleNavigation()">Projects</a>
        <a href="#contact" (click)="toggleNavigation()">Contact</a>
    </div>
    <div>
        <p>Navigation</p>
    </div>
</nav>