@font-face {
    font-family: "Montserrat";
    src: url("../src/assets/fonts/montserrat-v18-latin-regular.woff2 ") format("woff2"),
    url("../src/assets/fonts/montserrat-v18-latin-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("../src/assets/fonts/montserrat-v18-latin-200.woff") format("woff"),
    url("../src/assets/fonts/montserrat-v18-latin-200.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("../src/assets/fonts/montserrat-v18-latin-700.woff") format("woff"),
    url("../src/assets/fonts/montserrat-v18-latin-700.woff2") format("woff2");
    font-display: swap;
}