@import "reset";
@import "variables";
@import "mixins";

@font-face {
    font-family: "Montserrat";
    src: url("../src/assets/fonts/montserrat-v18-latin-regular.woff2 ") format("woff2"),
    url("../src/assets/fonts/montserrat-v18-latin-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("../src/assets/fonts/montserrat-v18-latin-200.woff") format("woff"),
    url("../src/assets/fonts/montserrat-v18-latin-200.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("../src/assets/fonts/montserrat-v18-latin-700.woff") format("woff"),
    url("../src/assets/fonts/montserrat-v18-latin-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: Montserrat, sans-serif;
    .background-color {
        height: 100vh;
        width: 100%;
        background: linear-gradient($prim-bg, $sec-bg);
        position: fixed;
        top: 0;
        z-index: -100;
    }
    h1, h2, h3, h4, p, a, li, label, input, textarea, button, small {
        color: $prim-color;
        text-shadow: $text-shadow-dark;
    }
    h1, h2, h3, h4 {
        text-align: center;
        word-break: break-word;
    }
    h1 {font-size: 5rem};
    h2 {font-size: 3.5rem};
    h3 {font-size: 2.5rem};
    h4 {font-size: 1.4rem};
    p, a, li, label, input, textarea, button {font-size: 1.4rem};
    p {
        line-height: $line-height;
        word-spacing: 7px;
        padding: 15px 0;
        text-align: justify;
        align-self: stretch;
    }
    a {
        color: $prim-color;
        text-decoration: none;
        cursor: pointer;
    }
    img {
        object-fit: cover;
    }
}

main {
    @include flexBox;
    flex-direction: column;

    > * {
        max-width: 100%;
    }

    div.about,
    div.projects,
    div.skills,
    div.contact,
    div.impressum {
        min-height: 100vh;
        padding: 35px 0;
        margin: auto;
        width: 85%;
        max-width: 1400px;
        border-bottom: solid 3px rgba(255,255,255,0.2);
        @include flexBox;
        flex-direction: column;
        position: relative;
    }
}

@media screen and (max-width: 1050px) {
    :root {
        font-size: 90%;
    }
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 85%;
    }
    h1, h2 {
        display: flex;
        flex-direction: column;
    }
    main {
        div.about,
        div.projects,
        div.skills,
        div.contact {
            min-height: 0 !important;
        }
        h2 {
            margin-top: 25px !important;
        }
    }
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 70%;
    }

    body p {
        line-height: 1.5 !important;
        word-spacing: 3px !important;
    }

    main {
        div.about,
        div.projects,
        div.skills,
        div.contact {
            width: 95% !important;
        }
    }
}